@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Scientific facts</h1>
    <p>"Each day I grow older and I learn something new." Solon</a>.</p>
</div>
